<% if user_signed_in? %>
  <li class="nav-item dropdown">
    <%= link_to current_user.username, "#!", class: "nav-link dropdown-toggle", id: "userPanel",
                role: "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false",
                "data-turbolinks": "false" %>
    <div class="dropdown-menu shadow p-1_5" aria-labelledby="userPanel">
      <a type="button" class="dropdown-item underline" data-toggle="modal" data-target="#avatarModal">Change avatar</a>
      <%= link_to 'Log out', destroy_user_session_path, :method => :delete, class: 'dropdown-item underline' %>
    </div>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to 'Log In', new_user_registration_path, class: 'nav-link' %>
  </li>
<% end %>